*.class
*.jar
*.war
*.ear


.settings/*
target/*
src/main/resources/yo/.tmp/*
src/main/resources/yo/app/bower_components/*
src/main/resources/yo/dist/*
src/main/resources/yo/node_modules/*
.classpath
.project
/target/
