
<div class="modal-header">
	<h3 class="modal-title">Nombre de la carpeta:</h3>
</div>

<div class="modal-body">
	<form class="form-inline" role="form">
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">. /</div>
	      <input class="form-control" type="text" placeholder="Nombre" ng-model="document.name">
	    </div>
	  </div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">Crear</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
</div>