<div class="container">

  <div class="row">
    <ol class="breadcrumb lista-directorios" ng-init="l = ''">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
      <li ng-repeat="p in path" ng-class="{active: $last}">
      	<a ng-if="!$last" ui-sref="list({path: path.slice(0, $index+1).join('/')})">{{p}}</a>
      	<span ng-if="$last">{{p}}</span>
      </li>
    </ol> 
  </div>
  <div class="table-responsive row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-1"></th>
          <th class="col-md-3 pointer" ng-click="orderByField='name'; reverseSort = !reverseSort" ng-init="orderByField = 'name'; reverseSort = false">
          	Nombre
          	<span ng-show="orderByField == 'name'">
	          	<span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
	          	<span ng-show="reverseSort"  class="glyphicon glyphicon-chevron-down"></span>
          	</span>
          </th>
          <th class="col-md-2 pointer" ng-click="orderByField='lastModification'; reverseSort = !reverseSort">
          	Modificado el
          	<span ng-show="orderByField == 'lastModification'">
          		<span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
	          	<span ng-show="reverseSort"  class="glyphicon glyphicon-chevron-down"></span>
          	</span>
          </th>
          <th class="col-md-3">
            <div class="btn-group pull-right">
	          	<a class="btn btn-primary" ng-click="viewDocument('document', true)"><span class="glyphicon glyphicon-cloud-upload"></span> Nuevo Documento</a>
	          	<a class="btn btn-info" ng-click="viewDocument('folder', true)"><span class="glyphicon glyphicon-folder-open"></span> Nueva Carpeta</a>
          	</div> 
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="doc in documents | orderBy:['-isFolder', orderByField]:reverseSort">
          <td ng-if="doc.isFolder"><span class="glyphicon glyphicon-folder-open file-icon"></span></td>
          <td ng-if="!doc.isFolder"><span class="glyphicon glyphicon-file file-icon"></span></td>
          
          <td ng-if="doc.isFolder"><a ui-sref="list({path: doc.path.substring(1) + doc.name})">{{doc.name}}</a></td>
          <td ng-if="!doc.isFolder && doc.hasFile"><a target="_blank" ng-href="{{backendUrl}}document/download?id={{doc.id}}">{{doc.name}}</a></td>
          <td ng-if="!doc.isFolder && !doc.hasFile">{{doc.name}}</td> 
          
          <td ng-if="doc.lastModification">{{doc.lastModification | date:'dd-MM-yyyy hh:mma'}}</td>
          <td ng-if="!doc.lastModification">No data</td>
          
          <td>
          	<div class="btn-group col-md-offset-6 pull-right">
 					<a ng-click="viewDocument(doc, true)" class="btn btn-warning download-btn"><span class="glyphicon glyphicon-edit"></span></a>
 					<a ng-click="remove(doc.id)" class="btn btn-danger col-md-offset-6"><span class="glyphicon glyphicon-trash remove-btn"></span></a>
          	</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>