
<div class="modal-header">
	<h3 class="modal-title">Documento:</h3>
</div>

<div class="modal-body">
	<div class="row" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function">
		<form class="form-horizontal" role="form">	

		  <div class="form-group col-md-11">
		  	 <div class="input-group col-md-offset-1">
			    <div class="input-group-addon">Fichero</div>
			    <span class="btn btn-default btn-file btn-input-group-right">
			    	{{fileName || 'Seleccionar'}}
					<input type="file" ng-file-select="onFileSelect($files)">
				</span>
			 </div>
		  </div>
		  
		  <div class="form-group col-md-11">
		    <div class="input-group col-md-offset-1">
		      <div class="input-group-addon">Nombre</div>
		      <input class="form-control" type="text" placeholder="foo.bar" ng-model="document.name">
		    </div>
		  </div>
		  
		  <div class="form-group col-md-11">
		  	 <div class="input-group col-md-offset-1">
			    <div class="input-group-addon">Descripción</div>
				<textarea class="form-control" id="textarea" name="textarea" ng-model="document.description">default text</textarea>
			 </div>
		  </div>
		  
		</form>
	</div>	

	<br/>
	<div class="row" ng-show="progress != null">
		<div class="col-md-10 col-md-offset-1">
			<progressbar class="progress-striped" value="progress" type="success">{{progress}}%</progressbar>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">Crear</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
</div>